.container{
    margin-top: 5%;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container1{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.container2{
    margin-top: 2%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}